@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --bg: hsl(0, 0%, 99%);
  --text: hsl(200, 15%, 8%);
  --elements: hsl(0, 100%, 100%);
}

.dark{
  --bg: hsl(207, 26%, 17%);
  --text: white;
  --elements: hsl(209, 23%, 22%);
}

